.text-color{
    color:blue;
}
.text-alignment{
    /* text-align: center; */
    /* text-align: right; */
    /* text-align: start; */
    /* text-align: end; */
    text-align: justify;
    color: rgb(247, 12, 12);
    
}
.text-decoration{
    text-decoration: underline;
    color: coral;
}
a{
    text-decoration: none;
}
.text-transformation{
    text-transform: uppercase;
    /* text-transform: capitalize; */
    /* text-transform: lowercase; */

}
.text-indentation{
    text-indent: 300px;
}
.word-spacing{
    word-spacing: 15px;
}
.line-height{
    line-height: 40px;
}
.text-direction{
    direction: rtl;
    /* direction: ltr; */
    width: 400px;
}
.letter-spacing{
    letter-spacing: 20px;
}
.text-shadow{
    text-shadow: 2px 2px ;
}

